/* Page background */
body {
  margin: 0;
  background-color: #171717; /* page background */
  min-height: 200vh; /* ensure there's room to scroll */
}

/* scene scene */
#scene-banner {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.scene-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover; /* Default for desktop */
}

/* Mobile-specific override */
@media (max-width: 768px) {
  .scene-img {
    object-position: 30%; /* Ensures full width without cropping, fits within the box */
  }
}

#solid-fill {
  width: 100%;
  height: 100vh;
  background:  #171717;
}

/* Layer stacking (keeps images in order) */
#scene-layer1 { z-index: 1; }
#scene-layer2 { z-index: 2; }
#scene-layer3 { z-index: 3; }
#scene-layer4 { z-index: 4; }

/* main:  #222222*/
/* yellow: #FFD100 */
/* red: #C23D4C */